src/test/resources/longfile_gnu.ar      eol=lf
src/test/resources/longfile_bsd.ar      eol=lf
src/test/resources/longpath/minotaur.ar eol=lf
# These must be identical to the copies in SHRUNK.ZIP
src/test/resources/test1.xml            eol=lf
src/test/resources/test2.xml            eol=lf
